project files/Adobe Premiere Pro Audio Previews/
project files/Adobe Premiere Pro Auto-Save/
project files/Adobe Premiere Pro Captured Audio/
project files/Adobe Premiere Pro Captured Video/
project files/Motion Graphics Template Media/
project files/Profile-szoko/

*.cfa
*.pek
